BasedOnStyle: LLVM
AlignAfterOpenBracket: DontAlign
AlignConsecutiveMacros: 'false'
AlignConsecutiveAssignments: 'false'
AllowShortLoopsOnASingleLine: 'false'
AlwaysBreakAfterReturnType: None
BreakBeforeBraces: Attach
ColumnLimit: '80'
ContinuationIndentWidth: '4'
IncludeBlocks: Regroup
IndentWidth: '4'
TabWidth: '4'
UseTab: Never
