BasedOnStyle: LLVM 
PointerAlignment: Middle
BreakBeforeBraces: Attach
IndentWidth: 4 
TabWidth: 4 
ColumnLimit: 80
AllowShortIfStatementsOnASingleLine: true
IndentCaseBlocks: false
IndentCaseLabels: true
AlignAfterOpenBracket: true
